@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* mirror custom palette in CSS vars if needed */
  --green: #5CB338;
  --yellow: #ECE852;
  --orange: #FFC145;
  --red: #FB4141;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--yellow); 
}
